# Astronomer / Airflow
.astro/
airflow-webserver.pid
webserver_config.py
airflow.cfg
airflow.db
.venv/
astro
airflow_settings.yaml

# Environment variables (use .env.example as template)
.env

# macOS
.DS_Store
**/.DS_Store

# Python
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/
notebooks/.ipynb_checkpoints/

# Generated data and artifacts (created by DAG runs)
data/

# IDE
.vscode/
.idea/
